*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    width: 90vw;
}
/* menu style */
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
}
input[type="text"]{
    height: 2.2rem;
    margin: 0px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
}
#searchbtn{
    height: 2.2rem;
    margin: 0px;
    border: none;
    background-color: transparent;
    font-size: 20px;
}
.svg{
    width: 2.5rem;
    margin: 2rem;
}
header{
    width: 90vw;
    text-align: center;
}
/* favorite meal style */
.favMeal-container{
    display: flex;
    overflow-x: scroll;
    list-style-type: none;
    background-color: aliceblue;
    width: 90vw;
}
.my-fav{
    position: relative;
    padding: 1rem;
    cursor: pointer;
}
.my-fav:hover .remove{
    opacity: 1;
} 
.my-fav img{
    width: 8rem;
    border-radius: 5rem;
}
.my-fav p{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 8rem;
    position: absolute;
    left: 15px;
    bottom: -15px;
}
.active{
    color: red;
}
.random{
    width: 90vw;
    text-align: center;
}
.meal-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 1rem;
    place-items: center;
    width: 80vw;
}
.meals{
    width: 20rem;
}
.meals img{
    width: 20rem;
}
.format{
    display:flex;
    justify-content: space-between;
}
.my-fav .remove{
    position: absolute;
    left: 20px;
    top: 10px;
    width: 20px;
    opacity: 0;
}
@media only screen and (min-width: 768px) and (orientation: portrait) {
    .meal-container{
        grid-template-columns: 1fr;
    }
  }